.secao_cards{
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.caixa_pesquisa{
    height: 10%;
    width: 100%;
}
.caixa_pesquisa input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding-left: 20px;
}
.campo_de_busca{
    width: 100%;
    padding: 10px 14px;
    background: #0d111b;
    border: 1px solid #1a2233;
    border-radius: 8px;
    color: #e0e6f0;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
}
.caixa_cards{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #1a2233 #0d111b; 
}
.caixa_cards::-webkit-scrollbar-track {
    background: #0d111b; /* fundo bem escuro */
    border-radius: 10px;
}

.caixa_cards::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #1a2233, #24304a); /* gradiente azul profundo */
    border-radius: 10px;
    box-shadow: 0 0 6px #0d111b; /* leve sombra para destaque */
}

.caixa_cards::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #24304a, #2e3b5c); /* tom mais claro ao passar o mouse */
}