:root {
  --background: #101827;
  --foreground: #ffffff;
  --cor-dourado: #F59E0B;
  --cor-azul-grafite: #111827;
  --cor-cinza-azuldo: #9CA3AF;
  --cor-azul-medio: #3B82F6;
  --cor-verde:#38B000;
  --cor-azul:#1E3A8A;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
