:root {
  --background: #ffffff;
  --foreground: #171717;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
