.header{
    height: 40px;
    width: 100%;
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(219, 189, 189);
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
    height: 100%;
}
.menu_opcao{
    list-style: none;
    margin: 0;
}
.menu_link{
    text-decoration: none;
    font-size: 15px;
    padding: 3px;
}
